.btn-edit{
  color: rgb(255, 255, 255);
}

.btn-edit:hover{
  color: rgb(173, 173, 173)
}

.btn-delete{
  color: rgb(255, 255, 255);
}

.btn-delete:hover{
  color: rgb(173, 173, 173)
}

.btn-details{
  color: white;
}

.btn-details:hover{
  color:rgb(173, 173, 173);
}
