.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand-name {
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: 'Montserrat', 'sans-serif';
  font-style: italic;
  font-size: large;
}
