.card-sax {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-sax > img {
  height: 10px;
  width: 10px;
  object-fit: cover;
}

.card-sax h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-sax p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-sax .card-sax-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-sax-infos .card-sax-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
