<div class="container">
  <h1 class="text-start mt-4 mb-4">Todos os Saxofones</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @saxophones.each do |sax| %>
      <div class="col-3 d-flex justify-content-center">
        <div class="card" style="width: 400px; height: 600px">
        <% url = "" %>
          <% if sax.photo.key
              url = cloudinary_url sax.photo.key
            else
              url = "https://i.pinimg.com/564x/2f/2f/58/2f2f5837fffa68b9b300c99eee660268.jpg"
            end
          %>
          <img src= <%=url%> class="card-img-top p-5" alt="...">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <p class="card-text text-center"><%= sax.title %></p>
            <p class="card-text fw-bold card-title">R$<%= sax.price %></p>
            <%= link_to "Saiba Mais", saxophone_path(sax), class: "btn border fw-bold rounded"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
