<div class="container">
  <h1 class="text-start mt-4 mb-4">Saxofones de <%= @user.full_name %></h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @saxophones.each do |sax| %>
      <div class="col-3 d-flex justify-content-center">
        <div class="card p-3" style="width: 30em;">
          <img src="https://i0.wp.com/www.kesslerandsons.com/wp-content/uploads/kessler-custom-handmade-alto-vintage-sax.jpg?fit=1000%2C1070&ssl=1" class="card-img-top" style="" alt="saxophone_image">
          <div class="card-body d-flex justify-content-between mt-2 p-0 gap-2">
            <p class="card-text fw-bold "><%= sax.title %></p>
            <p class="card-text card-title">R$<%= sax.price %></p>
          </div>
          <%= link_to "Saiba Mais", saxophone_path(sax), class: "btn border fw-bold rounded"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
